div {
  display: flex;
  align-items: center;
  background: #eee;
  height: 3em;
      padding: 0 1em;
      span {
          padding: 0 1em;
      }
      a {
        text-decoration: none;
        text-decoration-color: black;
      }
}

img {
  width: 50 em;
  padding-bottom: 0em;
}
