:host{
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

$button_size: 7em;
button {
height:$button_size;
width:$button_size;
margin: 1em;
}